<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EarGear</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

    <!-- Collapsible Navigation Tabs -->
    <nav class="navbar bg-dark navbar-dark navbar-expand-lg p-3">
        <!-- Create a link for a logo -->
        <a href="{{ url_for('index') }}" class="navbar-brand img-fluid">
            <img src="{{ url_for('static', filename='images/eargear.png') }}" alt="ear gear" width="80px" height="auto" class="navbar-logo mx-4">
        </a>
        <h2 class="text-light">EarGear</h2>

        <!-- Create the home button -->
        <button class="navbar-toggler ms-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapsemenu" aria-controls="collapsemenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Create the Dropdown Menu -->
        <div class="collapse navbar-collapse" id="collapsemenu">
            <!-- Add ms-auto class here -->
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a href="{{ url_for('index') }}" class="nav-link ms-3">Home</a>
                </li>
                <!-- Brands Dropdown -->
                <li class="nav-item dropdown ms-3">
                    <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Brands
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a href="{{ url_for('brand', brand_name='Apple') }}" class="dropdown-item">Apple</a></li>
                        <li><a href="{{ url_for('brand', brand_name='Samsung') }}" class="dropdown-item">Samsung</a></li>
                        <li><a href="{{ url_for('brand', brand_name='Sony') }}" class="dropdown-item">Sony</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('past_orders') }}" class="nav-link ms-3">Past Orders</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('cart') }}" class="nav-link ms-3">Bag</a>
                </li>
            </ul>
            <form class="d-flex ms-3">
                <button class="btn btn-outline-reservation" type="button" onclick="window.location.href='{{ url_for('shop') }}'">Shop</button>
            </form>
        </div>
    </nav>

    <!-- Hero Carousel -->
    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>

        <div class="carousel-inner">
            <div class="carousel-item active c-item">
                <img src="{{ url_for('static', filename='images/apple.webp') }}" class="d-block w-100 c-img" alt="Slide 1">
                <div class="mask">
                    <div class="text-white">
                        <p class="mt-5 fs-3 text-uppercase">Apple</p>
                        <h1 class="display-1 fw-bolder text-capitalize">AirPods Pro (2nd Generation)</h1>
                        <button class="btn btn-primary px-4 py-2 fs-5 mt-5" onclick="window.location.href='{{ url_for('product_detail', product_id=3) }}'">Buy Now</button>
                    </div>
                </div>
            </div>
            <div class="carousel-item c-item">
                <img src="{{ url_for('static', filename='images/galaxybudpros.webp') }}" class="d-block w-100 c-img" alt="Slide 2">
                <div class="mask">
                    <div class="text-white">
                        <p class="text-uppercase fs-3 mt-5">Samsung</p>
                        <p class="display-1 fw-bolder text-capitalize">Galaxy Bud Pros</p>
                        <button class="btn btn-primary px-4 py-2 fs-5 mt-5" onclick="window.location.href='{{ url_for('product_detail', product_id=5) }}'">Buy Now</button>
                    </div>
                </div>
            </div>
            <div class="carousel-item c-item">
                <img src="{{ url_for('static', filename='images/Sony_WF-1000XM4_hero.jpeg') }}" class="d-block w-100 c-img" alt="Slide 3">
                <div class="mask">
                    <div class="text-white">
                        <p class="text-uppercase fs-3 mt-5">Sony</p>
                        <p class="display-1 fw-bolder text-capitalize">Sony WF-1000XM4</p>
                        <button class="btn btn-primary px-4 py-2 fs-5 mt-5" onclick="window.location.href='{{ url_for('product_detail', product_id=7) }}'">Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- Quote Section -->
    <div class="quote-section">
        <p class="quote-text">EarGear</p>
        <p class="quote-subtext">Find the Right Gear for <strong>Your</strong> Ear</p>
        <p class="quote-description">We offer the best gear from the best brands</p>
    </div>

    <!-- About Us and Brand Sections Container -->
    <div class="about-signature-container" id="about">
        <!-- Apple Section -->
        <div class="content-section d-flex section-offset">
            <div class="text-section">
                <h2>Apple</h2>
                <hr class="my-2">
                <p>Apple's AirPods are renowned for their seamless integration with Apple devices, delivering an unparalleled audio experience. Our best-seller, the AirPods Pro, features Active Noise Cancellation, Adaptive EQ, and Transparency mode, ensuring that you get the best sound quality whether you are on a call, listening to music, or engaging in an intense workout. Elevate your listening experience with the cutting-edge technology and sleek design of Apple's AirPods.</p>
                <a class="btn btn-outline-light btn-lg" href="{{ url_for('brand', brand_name='Apple') }}" role="button">Shop Apple</a>
            </div>
            <div class="image-section">
                <img src="../static/images/apple_banner.jpeg" alt="About Image" class="img-fluid flip-horizontal">
            </div>
        </div>

        <!-- Samsung Section -->
        <div class="content-section-reverse d-flex section-offset">
            <div class="image-section">
                <img src="../static/images/galaxy_banner.png" alt="About Image" class="img-fluid">
            </div>
            <div class="text-section">
                <h2>Samsung</h2>
                <hr class="my-2">
                <p>Samsung's Galaxy Buds series offers a superior sound experience with its ergonomic design and advanced audio technology. Our top-seller, the Galaxy Buds Pro, provides intelligent Active Noise Cancelling, 360 Audio with Dolby Head Tracking™, and a comfortable fit for all-day wear. Whether you're on the go or relaxing at home, Samsung's Galaxy Buds Pro adapts to your environment, giving you the perfect sound experience every time.</p>
                <a class="btn btn-outline-light btn-lg" href="{{ url_for('brand', brand_name='Samsung') }}" role="button">Shop Samsung</a>
            </div>
        </div>

        <!-- Sony Section -->
        <div class="content-section d-flex section-offset">
            <div class="text-section">
                <h2>Sony</h2>
                <hr class="my-2">
                <p>Sony's earbuds are crafted for the audiophiles who seek the highest quality of sound. The Sony WF-1000XM4 stands out as our best-seller, featuring industry-leading noise cancellation, exceptional sound clarity with High-Resolution Audio, and a sleek, ergonomic design for ultimate comfort. Experience music the way it was meant to be heard with Sony's innovative sound technology and superior design.</p>
                <a class="btn btn-outline-light btn-lg" href="{{ url_for('brand', brand_name='Sony') }}" role="button">Shop Sony</a>
            </div>
            <div class="image-section">
                <img src="../static/images/sony_banner.webp" alt="About Image" class="img-fluid">
            </div>
        </div>
    </div>


    <!-- Shop Banner Section -->
    <div class="shop-banner text-center bg-image">
        <div class="mask">
            <a class="btn btn-outline-light btn-lg" onclick="window.location.href='{{ url_for('shop') }}'" role="button">Explore</a>
        </div>
    </div>

    <!-- Footer Section -->
    <footer class="footer bg-light py-4">
        <div class="container">
            <div class="row">
                <!-- Contact Us -->
                <div class="col-md-4">
                    <h5 class="text-uppercase">Contact Us</h5>
                    <ul class="list-unstyled">
                        <li><img src="../static/images/phone.svg" alt="Phone Icon" class="footer-icon"> To contact us, call (555) 123-4567</li>
                        <li><img src="../static/images/location.svg" alt="Location Icon" class="footer-icon"> EarGear<br>1234 Earbud St.<br>Tech City, FC 56789</li>
                    </ul>
                </div>
                <!-- Quick Links -->
                <div class="col-md-4">
                    <h5 class="text-uppercase">Quick Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="{{ url_for('brand', brand_name='Apple') }}"><img src="../static/images/apple.svg" alt="Apple Icon" class="footer-icon">Apple</a></li>
                        <li><a href="{{ url_for('brand', brand_name='Samsung') }}"><img src="../static/images/samsung.svg" alt="Samsung Icon" class="footer-icon">Samsung</a></li>
                        <li><a href="{{ url_for('brand', brand_name='Sony') }}"><img src="../static/images/sony.svg" alt="Sony Icon" class="footer-icon">Sony</a></li>
                    </ul>
                </div>
                <!-- Follow Us -->
                <div class="col-md-4">
                    <h5 class="text-uppercase">Follow Us</h5>
                    <ul class="list-unstyled">
                        <li><a href="https://www.facebook.com/haidilaohotpotus/"><img src="../static/images/facebook.svg" alt="Facebook Icon" class="footer-icon"> Facebook</a></li>
                        <li><a href="https://www.instagram.com/haidilao_us/?hl=en"><img src="../static/images/instagram.svg" alt="Instagram Icon" class="footer-icon"> Instagram</a></li>
                        <li><a href="https://www.youtube.com/hashtag/haidilao"><img src="../static/images/youtube.svg" alt="YouTube Icon" class="footer-icon"> YouTube</a></li>
                        <li><a href="https://www.linkedin.com/company/haidilao-official/"><img src="../static/images/linkedin.svg" alt="LinkedIn Icon" class="footer-icon"> LinkedIn</a></li>
                    </ul>
                </div>
            </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
